/* ********************样式初始化********************** */

html, body {
    width: 100%;
    height: 100%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

ul, ol {
    list-style: none;
}

.cp {
    cursor: pointer;
}

.iBox {
    display: inline-block;
}

.fenye {
    margin-top: 20px;
    text-align: center;
}

.notice{
    padding: 15px;
    font-size: 12px;
    line-height: 25px;
  }
/* 弹出框 */

#alert {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 14px;
    z-index: 10;
}

#alert>#pop {
    width: 80%;
    height: 200px;
    padding: 10%;
    border-radius: 5px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#alert>#pop .btns {
    font-size: 0;
    text-align: center
}

/* ************************覆盖iView样式*********************** */