#f4Item {
    main {
      font-size: 14px;
      line-height: 30px;
      color: $darkfont;
      .top {
        padding: 15px;
        background-color: #fff;
        position: relative;
        .left {
          text-align: center;
          .money {
            color: $money;
          }
        }
        .right {
          position: absolute;
          right: 15px;
          top: 30px;
        }
      }
      .bottom {
        // height: calc(100% - 166px);
        // overflow-y: scroll;
        // overflow-x: hidden;
        margin-top: 10px;
        li {
          line-height: 44px;
          padding: 0 15px;
          background-color: #fff;
          
          &>div{
          border-bottom: 1px solid #d4d4d4;
          }
          &:last-child>div{
            border: none;
          }
        }
        .time {
          color: $lightfont;
        }
        .fenye{
          text-align: center;
          margin: 10px 0;
        }
      }
    }
  }