/********************* 颜色 *********************/

$bc:#F7F7F7;  //背景色
$hbc:#F2F2F2; //顶部和隔行背景色
$lightfont:#999999;   //浅色字体
$darkfont:#333333;    //深色字体
$money:#ff6277;  //红色金额
$lightblue:#4A99FC; //注册按钮颜色
$green:#19be6b;
$line:#D4D4D4;  //分割线
$shadow:rgba(73,85,150,0.1);    //外阴影
$userf3:rgb(11,24,86);  //用户信息数字颜色
$usertype:rgb(0,206,159);
$userstatus:rgb(255,135,151);
$font:rgb(153,153,153);

/********************* 字体大小 *********************/

$headerfont:16px; //顶部字体
$orderfont:14px;    //买卖单列表字体