/********************* 颜色 *********************/

$bc:#EEEEEE;  //背景色
$hbc:#F2F2F2; //顶部和隔行背景色
$lightfont:#999999;   //浅色字体
$darkfont:#333333;    //深色字体
$money:#ff6277;  //红色金额
$lightblue:#4A99FC; //注册按钮颜色
$green:#19be6b;

/********************* 字体大小 *********************/

$headerfont:16px; //顶部字体
$orderfont:14px;    //买卖单列表字体