/* ********************样式初始化********************** */

@font-face {
    font-family: 'myfont';
    src: url('../static/fonts/PINGFANG\ MEDIUM.TTF');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'myfont';
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

ul, ol {
    list-style: none;
}

.cp {
    cursor: pointer;
}

.ib {
    display: inline-block;
}