@charset "UTF-8";
/* *************header开始************** */

header {
    padding-top: 56.9%;
    position: relative;
}

/*            导航              */

nav {
    padding: 5% 5.2%;
}

nav .nav_logo {
    width: 13.4%;
    min-width: 90px;
    padding-bottom: 4.2%;
    background: center center no-repeat url("../../static/img/index/logo.png");
    background-size: 100% auto;
    float: left;
}

nav .nav_right {
    margin: 0.55% 0 0 15%;
    padding-bottom: 3.1%;
    position: relative;
    min-height: 20px;
}

nav .nav_right ul {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0px;
    text-align: right;
    font-size: 0px;
}

nav .nav_right li {
    display: inline-block;
    vertical-align: top;
    min-width: 38px;
    height: 100%;
    padding: 0 1.5%;
    font-size: 24px;
    position: relative;
}

nav .nav_right li span {
    display: table;
    height: 100%;
}

nav .nav_right li span i {
    display: table-cell;
    vertical-align: middle;
}

/* 导航选中效果 */

nav .nav_right li.navActice {
    background-color: #fff;
    color: rgb(19, 53, 58);
}

/* 语言选择框 */

#arrow {
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -15px;
}

#selectLang {
    width: 110%;
    min-width: 60px;
    background-color: rgba(119, 103, 136, 0.5);
    border-radius: 2px;
    transition: all 0.3s;
    overflow: hidden;
    transform: translateY(-10px);
    position: absolute;
    left: 0;
    top: 80%;
    opacity: 0;
}

#selectLang > div {
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

#selectLang > div:hover {
    background-color: rgba(255, 255, 255, 0.212);
}

nav .nav_right li:last-child:hover #selectLang {
    opacity: 1;
    transform: translateY(10px);
}

/*      顶部波浪动画以及背景相关        */

.topbox {
    background: center top 135px no-repeat
            url("../../static/img/index/star-bg.png"),
        right top no-repeat url("../../static/img/index/top-shadow.png");
    background-size: 100% auto, 34.8% auto;
    background-color: #2a0c4b;
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 0;
}

.topbox .header {
    height: 161px;
}

#wavebox {
    padding: 0.5% 0 42.7%;
    background: linear-gradient(transparent, #09103d);
    position: relative;
}

#wavebox > canvas {
    position: absolute;
    z-index: 2;
}

/*   顶部波浪上元素   */

.topbox .cover {
    position: absolute;
    bottom: 0px;
    z-index: 2;
}

.topbox h1.cover {
    margin: 0;
    padding-bottom: 3%;
    margin-bottom: 28%;
    width: 100%;
    font-size: 72px;
    background: bottom 5% center no-repeat
        url("../../static/img/index/galaxyfuntop.png");
    background-size: auto 20%;
    color: white;
    text-align: center;
}

.topbox .play.cover {
    /* min-width: 190px; */
    /* padding-bottom: 4.48%; */
    line-height: 40px;
    padding: 0 60px 0 30px;
    /* width: 15.8%; */
    border-radius: 20px;
    background: linear-gradient(90deg, rgb(64, 36, 155), rgb(156, 0, 255));
    left: 50%;
    /* margin: 0 0 18.2% -7.9%; */
    margin-bottom: 18.2%;
    font-size: 16px;
    transform: translateX(-50%);
}
.topbox .play.cover img {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0px;
}

.topbox .circle.cover {
    width: 6.3%;
    padding-bottom: 6.3%;
    background: center center no-repeat url("../../static/img/index/circle.png");
    background-size: 100% auto;
    left: 50%;
    margin: 0 0 -3.15% -3.15%;
}

/* *************header结束************** */

/* *************main开始************** */

section {
    position: relative;
}

section .textBox {
    width: 32.6%;
    padding-top: 5.5%;
    margin-right: 14.4%;
    float: right;
}

section .textBox.left {
    margin: 0 0 0 14.4%;
    float: left;
}

section .textBox h1 {
    font-size: 60px;
    margin-bottom: 1%;
    color: #221154;
}

section .textBox p {
    font-size: 32px;
    color: #221154;
    opacity: 0.6;
}

section .floor {
    height: 0px;
}

/*     星际节点    */

.gnode {
    margin-top: 3.15%;
    padding: 7.6% 0 0;
}

.gnode .imgBox {
    width: 21.4%;
    padding-bottom: 25%;
    margin-left: 15.9%;
    background: center center no-repeat
        url("../../static/img/index/main_01.png");
    background-size: 100% auto;
    float: left;
}

/*     节点集群    */

.cluster .floor {
    width: 44.8%;
    float: right;
    background: center center no-repeat url("../../static/img/index/floor.png");
    background-size: 100% auto;
    padding-bottom: 44%;
    margin-top: -11%;
    position: relative;
}

.cluster .floor i {
    position: absolute;
    width: 72%;
    padding-bottom: 64%;
    margin-top: 24.3%;
    margin-left: -5%;
    background: center center no-repeat url("../../static/img/index/stage.png");
    background-size: 100% auto;
}

/*   超级节点   */

.super .floor {
    float: left;
    width: 31.8%;
    padding-bottom: 41%;
    background: center center no-repeat url("../../static/img/index/floor1.png");
    background-size: 100% auto;
    margin-top: 5%;
    position: relative;
}

.super .floor i {
    right: 0;
    position: absolute;
    width: 72%;
    padding-bottom: 74%;
    margin-top: 26%;
    margin-right: -3%;
    background: center center no-repeat url("../../static/img/index/stage1.png");
    background-size: 100% auto;
}

.super .textBox {
    padding-top: 18%;
}

/*    节点扩容    */

.expend .textBox {
    float: none;
    width: 60%;
    margin: 0 20% 3% 20%;
    text-align: center;
}

.expend .stage {
    width: 67.5%;
    padding-bottom: 31%;
    margin: 0 auto 6.6% auto;
    background: center center no-repeat url("../../static/img/index/stage2.png");
    background-size: 100% auto;
}

/*    应用场景    */

.scene {
    padding-top: 3.6%;
}

.scene .textBox {
    padding-top: 0;
}

.scene:not(.people) .textBox h1,
.scene .textBox p {
    color: #333333;
}

.scene .textBox p {
    opacity: 0.5;
}

.scene .floor {
    float: right;
    width: 44.7%;
    padding-bottom: 43%;
    background: center center no-repeat url("../../static/img/index/floor2.png");
    background-size: 100% auto;
    position: relative;
}

.scene .mobile {
    position: absolute;
    width: 72.7%;
    padding-bottom: 85%;
    margin-top: -1%;
    margin-left: -2%;
    background: center center no-repeat url("../../static/img/index/phone.png");
    background-size: 100% auto;
}

.scene .tags {
    width: 44.7%;
    float: left;
    position: relative;
}

.scene .tags > div {
    position: absolute;
    height: 0px;
    width: 22.8%;
    padding-bottom: 22.8%;
    border-radius: 5%;
    box-shadow: 0px 0px 30px 0px rgba(64, 19, 155, 0.1);
}

.scene .tags > div > div {
    padding-bottom: 100%;
    position: relative;
}

.scene .tags > div > div > div {
    width: 100%;
    height: 100%;
    position: absolute;
}

.scene .tags i {
    display: block;
    width: 51.5%;
    height: 51.5%;
    margin: 9% auto 6.5% auto;
    border-radius: 50%;
    background: center center no-repeat;
    background-size: 100% 100%;
}

.scene .tags p {
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
    color: #1d1946;
}

.scene .tags > div > div > div > p:last-child {
    opacity: 0.5;
}

.scene .tags .chat {
    margin: 5% 0 0 44%;
}

.scene .tags .chat i {
    background-image: url("../../static/img/index/chat.png");
}

.scene .tags .buy {
    margin: 39% 0 0 30.6%;
}

.scene .tags .buy i {
    background-image: url("../../static/img/index/buy.png");
}

.scene .tags .trans {
    margin: 26.6% 0 0 77.4%;
}

.scene .tags .trans i {
    background-image: url("../../static/img/index/trans.png");
}

.scene.people {
    margin: 6.6% 0 1.8%;
    padding-bottom: 56.4%;
    background: center center no-repeat
        url("../../static/img/index/scenebg.png");
    background-size: 100% auto;
}

.scene.people .textBox {
    padding-top: 8.8%;
    margin-right: 13.5%;
    text-align: right;
}

.scene.people .avatars > i {
    width: 6.3%;
    padding-bottom: 6.3%;
    height: 0px;
    position: absolute;
    background: center center no-repeat;
    background-size: 100% 100%;
}

.scene.people .avatars > i:first-child {
    margin: 10% 0 0 13.9%;
    background-image: url("../../static/img/index/person01.png");
}

.scene.people .avatars > i:nth-child(2) {
    margin: 24% 0 0 17.3%;
    background-image: url("../../static/img/index/person02.png");
}

.scene.people .avatars > i:nth-child(3) {
    margin: 38.4% 0 0 13.75%;
    background-image: url("../../static/img/index/person03.png");
}

.scene.people .avatars > i:nth-child(4) {
    margin: 19.4% 0 0 54.3%;
    background-image: url("../../static/img/index/person04.png");
}

.scene.people .avatars > i:last-child {
    margin: 33% 0 0 57.5%;
    background-image: url("../../static/img/index/person05.png");
}

.scene.people .msgboxs > div {
    width: 20.88%;
    padding-bottom: 9.4%;
    background: right 5.7% bottom 10.7% no-repeat
            url("../../static/img/index/eye.png"),
        linear-gradient(to bottom left, #141a9c, #9736d4);
    background-size: 9.4% auto, 100% 100%;
    position: absolute;
}

.scene.people .msgboxs > div:first-child {
    margin: 10% 0 0 21.7%;
}

.scene.people .msgboxs > div:nth-child(2) {
    margin: 24% 0 0 24.3%;
}

.scene.people .msgboxs > div:nth-child(3) {
    margin: 38.4% 0 0 20.75%;
}

.scene.people .msgboxs > div:nth-child(4) {
    margin: 19.4% 0 0 61.3%;
}

.scene.people .msgboxs > div:last-child {
    margin: 33% 0 0 64.5%;
}

.scene.people .msgboxs > div > p {
    font-size: 24px;
    position: absolute;
    color: white;
    margin: 8.4% 5% 0 5%;
}

.scene.people .msgboxs > div > p > span {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 7%;
    display: inline-block;
}

/*     Map相关     */

.mapbox {
    margin: 0 13.6%;
    text-align: center;
    padding: 4.5% 0 5.9%;
    background: linear-gradient(to bottom left, #090d3d, #4d1371);
}

.mapbox h1 {
    font-size: 38px;
    padding-bottom: 2%;
    margin: 0;
    color: white;
}

.mapbox p {
    margin: 0 7%;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.6);
}

.mapbox .mapfill {
    margin: 0 14.7%;
    padding-top: 6.3%;
}

.mapbox .mapfill .map {
    padding-bottom: 51.5%;
    background: center center no-repeat url("../../static/img/index/map.png");
    background-size: 100% auto;
    position: relative;
}

.mapbox .mapfill .map > div {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mapbox .mapfill .map .bigPoint {
    background: left 11.2% top 34.5% no-repeat
            url("../../static/img/index/point.png"),
        left 50% top 18.5% no-repeat url("../../static/img/index/point.png"),
        left 80.6% top 39.5% no-repeat url("../../static/img/index/point.png");
    background-size: 2.4% auto;
    z-index: 4;
    animation: shine 2s ease-in-out infinite;
}

.mapbox .mapfill .map .middlePoint {
    background: left 26.7% top 27.2% no-repeat
            url("../../static/img/index/point.png"),
        left 33.7% top 74.4% no-repeat url("../../static/img/index/point.png"),
        left 46.8% top 27.5% no-repeat url("../../static/img/index/point.png"),
        left 53.2% top 79.5% no-repeat url("../../static/img/index/point.png"),
        left 87.4% top 32.5% no-repeat url("../../static/img/index/point.png"),
        left 82.5% top 79.5% no-repeat url("../../static/img/index/point.png"),
        left 93.3% top 77.5% no-repeat url("../../static/img/index/point.png");
    background-size: 1.5% auto;
    z-index: 3;
    animation: shineNoSpace 2s ease-in-out infinite;
}

.mapbox .mapfill .map .smallPoint {
    background: left 23.5% top 55.5% no-repeat
            url("../../static/img/index/point.png"),
        left 32.5% top 82.5% no-repeat url("../../static/img/index/point.png");
    background-size: 1% auto;
    z-index: 2;
    animation: shine 1s ease-in-out infinite;
}

@keyframes shine {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes shineNoSpace {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*       Download模块ui       */

.downloadbox {
    margin: 0 13.6%;
    background: right center no-repeat
        url("../../static/img/index/download-app.png");
    background-size: 38.8% auto;
    padding-bottom: 30.9%;
    position: relative;
}

.downloadbox > div {
    position: absolute;
    width: 100%;
}

.downloadbox > div > h1 {
    margin: 0 40% 6.8% 0;
    padding-top: 13.88%;
}

.downloadbox > div > a {
    float: left;
    width: 220px;
    height: 71px;
    margin-right: 2%;
    color: white;
    text-decoration: none;
    background: linear-gradient(to left, #9c00ff, #40249b);
}

.downloadbox > div > a > div {
    padding-left: 60px;
    background: left 17px center no-repeat;
    background-size: 30px auto;
    height: 100%;
}

.downloadbox .android {
    background-image: url("../../static/img/index/android.png");
}

.downloadbox .iphone {
    background-image: url("../../static/img/index/iphone.png");
}

.downloadbox p {
    margin: 0;
    padding: 17px 0 2px 0;
    font-size: 24px;
    line-height: 24px;
}

.downloadbox span {
    font-size: 12px;
}

/* *************main结束************** */

footer {
    height: 190px;
    background: linear-gradient(45deg, rgb(54, 12, 80), rgb(9, 13, 61));
    text-align: center;
    color: #fff;
}

footer img {
    width: 60px;
    height: 60px;
    margin-top: 35px;
    margin-bottom: 15px;
}

footer .copyRight {
    margin-top: 10px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
}
